/* ---------------------------------------------------
    BODY
----------------------------------------------------- */

body {
  background: #fafafa;
}

td, tr{
  width: auto;
}


p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: grey;
}

.nav-link:hover {
  text-shadow: 2px 2px #FFFFA6;
}

#logo {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

img {
  width: 70%;
  height: 70%;
  image-rendering: crisp-edges;
}

#logo img {
  width: 100%;
  height: 100%;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  background: #01A2A6;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

/*#sidebar {
  min-width: 250px;
  max-width: 250px;
}*/

#sidebar {
  width: 100px;
  background: #2F2933;
  color: #fff;
  transition: all 0.3s;
}

#sidebar ul{
  font-size: 0px;
}

#sidebar:hover{
  font-size: 0.9em;
  width: 250px;
}

#sidebar:hover ul{
  font-size: 0.9em;
}

#sidebar i{
  font-size: 30px;
}

#sidebar:hover i{
  font-size: 1.3em;
}

#sidebar .sidebar-header h3{
  display: none;
}

#sidebar:hover .sidebar-header h3{
  display: inline;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #01A2A6;
}

#sidebar .sidebar-header strong {
  font-size: 1.8em;
  display: inline;
}

#sidebar:hover .sidebar-header strong {
  display: none;
}

#sidebar:hover footer{
  display: block;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #01A2A6;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #01A2A6;
}

ul.list-unstyled {
  padding: 20px;
}

ul.list-unstyled a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
main{
  width: 100%;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
#profilePicture h3{
  text-align: center;
}

#profilePicture img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

#profileInfo p{
  color: black;
}

#pool{
  max-height: 70vh;
  overflow-y: scroll;
}

#defaultChatText{
  margin: auto;
}

h5.card-title.d-inline.align-middle, h2 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.table-responsive table td a{
  color: #01A2A6;
}

.table-responsive table td .btn{
  color: white;
}

.btn-primary{
  background: #01A2A6;
  border-color: #01A2A6;
}

.btn-primary:hover{
  background: #05728f;
  border-color: rgb(8, 69, 70);
}

#profile{
  width: 50%;
  transition: all 0.3s;
}

#profile img{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;
}

#profile button{
  margin-top: 3px;
  width: 100%;
}

footer{
  width: 80%;
  display: none;
  bottom: 0;
  left: 0;
}

.input-group button, tr button{
  margin: 2px;
}

#tradeItemModal{
  float: right;
}

#total{
  font-size: 2rem;
  color: #2F2933;
}



/* ---------------------------------------------------
    CHAT MESSAGE
----------------------------------------------------- */

.container{max-width:1170px; margin:auto;}

.top_spac{ margin: 20px 0 0;}

.recent_heading {float: left; width:40%;}

.recent_heading h4 {
  background-color: white;
  width: auto;
  color: #01A2A6;
  font-size: 21px;
  margin: auto;
}

.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5, .chat_ib h4{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: right;
  width: 50px;
  height: 50px;
}
.chat_ib {
  margin: auto;
  width: auto;
  
}

.chat_ib h5{
  color: #01A2A6;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat {
  height: 600px;
  background-color: #ebebeb;
  margin: 2px;
  border-radius: 5px;
  padding-top: 5px;
}

#personalChatBox{
  height: 600px;
  border-radius: 5px;
  margin: 2px;
  padding-top: 5px;
}

#personalContactContainer, #recentChatsContainer{
  overflow-y: scroll;
  height: 550px;
}

.active_chat{ background:#ebebeb;}

.incoming_msg{
  margin: 3px;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
  max-width: 100px;
  max-height: 100px;
  margin: 3px;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: #47748b none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.inbox_chat{
  max-width: 298px;
}

.sent_msg h4, .received_withd_msg h4, .outgoing_msg h4, .incoming_msg h4{
  color: grey;
  font-size: 10px;
  margin: 0;
}

.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4; position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 3px;
  width: 33px;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    display: block;
    min-width: 100%;
    height: 700px;
    text-align: center;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }

  #sidebar ul{
    font-size: 0.9em;
  }

  #sidebar .sidebar-header h3{
    display: inline;
  }

  #sidebar .sidebar-header strong {
    display: none;
  }
  
  #sidebar:hover .sidebar-header strong {
    display: none;
  }

  #sidebar {
    font-size: 0.9em;
    width: 250px;
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }

  .inbox_chat{
    height: 250px;
  }
  
  #personalContactContainer, #recentChatsContainer{
    height: 200px;
  }

  #profile{
    width: 100%;
  }

  footer{
    display: block;
  }
}

/* ---------------------------------------------------
    ANIMATIONS
----------------------------------------------------- */

@keyframes shake {
  0%   {transform: rotate(0deg)}
  25%   {transform: rotate(-5deg)}
  75%   {transform: rotate(5deg)}
  100%   {transform: rotate(0deg)}
}

#logo:hover {
  animation-name: shake;
  animation-duration: 0.3s;
}